.admin-layout {
    display: flex;
  }
  
  .admin-sidebar {
    width: 280px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: width 0.3s ease; // 너비 전환에 대한 transition 효과 추가
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .sidebar-logo {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 20px;
  }
  
  .sidebar-menu {
    padding: 20px;
  }
  
  .sub-menu {
    list-style: none;
    padding-left: 0;
    display: none;
  }
  
  .sub-menu.open {
    display: block;
  }
  
  .admin-content {
    flex: 1;
    overflow-y: auto;
  }
  
  /* 메뉴 바가 열렸을 때의 스타일 */
  .admin-sidebar.open {
    width: 280px;
  }

  .menu-icon:hover,
.menu-icon.opened {
  color: #558BCF;
}
  